<app-header></app-header>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="container">
                <h5>Filter</h5>
                <button class="btn mt-5">All</button>

                <!-- Cuisine Type -->
                <button class="btn dropdown-toggle mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#cuisineType" aria-expanded="false" aria-controls="cuisineType">
                    Cuisine Type
                </button>
                <div class="collapse mt-2" id="cuisineType">
                    <button class="btn" (click)="filterRecipes('cusine','Italian')" >Italian</button>
                    <button class="btn" (click)="filterRecipes('cusine','Asian')" >Asian</button>
                    <button class="btn" (click)="filterRecipes('cusine','American')" >American</button>
                    <button class="btn" (click)="filterRecipes('cusine','Mexican')" >Mexican</button>
                    <button class="btn" (click)="filterRecipes('cusine','Indian')" >Indian</button>
                    <button class="btn" (click)="filterRecipes('cusine','Pakistani')" >Pakistani</button>
                    <button class="btn" (click)="filterRecipes('cusine','Japanese')" >Japanese</button>
                    <button class="btn" (click)="filterRecipes('cusine','Thai')" >Thai</button>
                </div>

                <!-- Meal Type -->
                <button class="btn dropdown-toggle mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#mealType" aria-expanded="false" aria-controls="mealType">
                    Meal Type
                </button>
                <div class="collapse mt-2" id="mealType">
                    <button class="btn" (click)="filterRecipes('mealType','Dinner')" >Dinner</button>
                    <button class="btn" (click)="filterRecipes('mealType','Lunch')" >Lunch</button>
                    <button class="btn" (click)="filterRecipes('mealType','Dessert')" >Dessert</button>
                    <button class="btn" (click)="filterRecipes('mealType','Appetizer')" >Appetizer</button>
                    <button class="btn" (click)="filterRecipes('mealType','Breakfast')" >Breakfast</button>
                    <button class="btn" (click)="filterRecipes('mealType','Beverage')" >Beverage</button>
                    <button class="btn" (click)="filterRecipes('mealType','Salad')" >Salad</button>
                </div>

            </div>
        </div>
        <div class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center">
                <h2>All Recipes</h2>
                <input type="text" [(ngModel)]="searchKey" class="form-control w-50" placeholder="search your recipes">
            </div>
            <div class="row my-3">
                @for (recipe of allRecipes; track $index) {
                    <div class="col-lg-4">
                        <div class="p-3">
                            <img width="100%" [src]="recipe.image" alt="">
                            <div class="card-body">
                                <h4>{{recipe.image}}</h4>
                                <p>Cusine : <span class="text-danger">{{recipe.Cusine}}</span></p>
                                <p>MealType : <span class="text-danger">{{recipe.mealType}}</span></p>
                            </div>
                        </div>
                    </div>
                }
                @if ((allRecipes|search:searchKey).length==0){
                    <div class="text-danger fw-bolder">
                        No Rcipes found...
                    </div>
                }
            </div>
        </div>
    </div>
</div>
